/******************************
           Box Model 
 *****************************/
p.box-model2.display.paragraph1,
p.box-model2.display.paragraph2,
p.box-model2.display.paragraph3 {
   background-color: gray;
   display: block;
   margin: 10px;
   padding: 15px;
}

a.box-model2.display.links {
   padding: 10px;
   border: 2px solid brown;
   background-color: khaki;
   display: inline-block;
   height: 100px;
}

button.box-model2.display.button {
   display: block;
   padding: 10px 20px;
   margin: 10px 0;
}

h1.box-model {
   background-color: aquamarine;
   padding: 20px;
}

p.box-model.paragraph1 {
   background-color: khaki;
   padding: 20px 10px;
}

p.box-model.paragraph2 {
   background-color: lime;
   padding: 20px 10px 20px 10px;
   border: 20px solid lightblue;
   margin: 50px;
}

p.box-model.paragraph3 {
   width: 400px;
   background-color: aqua;
   padding-top: 20px;
   padding-right: 10px;
   padding-bottom: 20px;
   padding-left: 10px;
   border-right: 5px solid;
   border-image: linear-gradient(to bottom, tomato, orange) 1 100%;
}


/******************************
           typography 
 *****************************/
p#typography {
   /* default typography property in css */
   font-size: 1.2rem;
   font-weight: bold;
   font-style: italic;
   color: #7f9;
   background-color: rgb(87, 0, 145);
   font-family: 'Roboto', sans-serif;
   /* text property */
   text-align: center;
   text-transform: uppercase;
   text-decoration: underline;
   text-shadow: 0.2rem 0.15rem gray;
   letter-spacing: 0.25rem;
   line-height: 2rem;

   /* extra style */
   padding: 15px;
}

/* 1rem = 16px = 100% */

/******************************
    Selector & Combinator 
 *****************************/
div p {
   /* descendent selector */
   /* select all the child inside div */
   background-color: aqua;
}

#div1>p {
   /* child selector */
   /* select all the immediate child inside #div1 */
   color: blueviolet;
}

#div1+p {
   /* adjacent sibling selector */
   /* select the first p after the #div1 */
   font-size: 1.5rem;
}

#div1~p {
   /* general sibling selector */
   /* select all p that come after #div1 */
   text-decoration: underline;
}