body {
    margin: 0;
    padding: 0;
}

.btn {
    border-radius: 8px;
    padding: 10px 20px;
    border: 2px solid blue;
}

.btn-primary {
    background-color: aqua;
    color: #141414;
}

.btn-secondary {
    background-color: brown;
    color: whitesmoke;
}
