/******************************
           typography 
 *****************************/
p {
   /* default typography property in css */
   font-size: 1.2rem;
   font-weight: bold;
   font-style: italic;
   font-family: 'Courier New', Courier, monospace;
}

/* 1rem = 16px = 100% */

/******************************
    Selector & Combinator 
 *****************************/
div p {
   /* descendent selector */
   /* select all the child inside div */
   /* background-color: aqua; */
}

#div1>p {
   /* child selector */
   /* select all the immediate child inside #div1 */
   /* color: blueviolet; */
}

#div1+p {
   /* adjacent sibling selector */
   /* select the first p after the #div1 */
   /* font-size: 1.5rem; */
}

#div1~p {
   /* general sibling selector */
   /* select all p that come after #div1 */
   /* text-decoration: underline; */
}